In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sb

In [2]:
df_1 = pd.read_csv('./DAT_ASCII_EURUSD_M1_2018.csv', 
                   names=['time', 'open', 'max', 'low', 'close','volume'], 
                   sep=';', 
                   parse_dates=[0])

In [3]:
df_1.dtypes

time      datetime64[ns]
open             float64
max              float64
low              float64
close            float64
volume             int64
dtype: object

In [4]:
df_2 = df_1.drop('volume', axis=1)

In [5]:
df_2.describe()

                open            max            low          close
count  372607.000000  372607.000000  372607.000000  372607.000000
mean        1.181216       1.181300       1.181131       1.181215
std         0.036872       0.036877       0.036867       0.036872
min         1.121650       1.121730       1.121540       1.121630
25%         1.152420       1.152490       1.152330       1.152415
50%         1.169210       1.169280       1.169130       1.169210
75%         1.223860       1.223950       1.223760       1.223855
max         1.255400       1.255500       1.255270       1.255410

In [6]:
df_2 = df_2.set_index('time')

In [8]:
df_2.dtypes

open     float64
max      float64
low      float64
close    float64
dtype: object

In [10]:
sb.timeseries